* {
  box-sizing: border-box;
}

.clearfix:after {
  /* 以下の書き方はIE8以上 */
  content: "";
  clear: both;
  display: block;
}

/*ブートストラップ*/
.row-0{
    margin-left:0px;
    margin-right:0px;

    > div{
        padding-right:0px;
        padding-left:0px;
    }
}
.row-10{
    margin-left:-5px;
    margin-right:-5px;

    > div{
        padding-right:5px;
        padding-left:5px;
    }
}
.row-20{
    margin-left:-10px;
    margin-right:-10px;

    > div{
        padding-right:10px;
        padding-left:10px;
    }
}
.row-30{
    margin-left:-15px;
    margin-right:-15px;

    > div{
        padding-right:15px;
        padding-left:15px;
    }
}
.row-40{
    margin-left:-20px;
    margin-right:-20px;

    > div{
        padding-right:20px;
        padding-left:20px;
    }
}

/*ブートストラップの終わり*/

.test1{
  background-color: pink;
}

.test_img{
  float: none;
}

.test_p{
  width: 288px;
}

@media (max-width: 750px){

  .test_img{
    float: left;
    width: 50%;
  }
.test_p{
  float: right;
  width: 50%;
}

.test_img img,
.test_p p{
  width: 100%;
}

}
